services:
  plex:
    image: plexinc/pms-docker:latest
    container_name: plex
    ports:
      - "32400:32400/tcp"
      - "3005:3005/tcp"
      - "8324:8324/tcp"
      - "32469:32469/tcp"
      - "1900:1900/udp"
      - "32410:32410/udp"
      - "32412:32412/udp"
      - "32413:32413/udp"
      - "32414:32414/udp"
    environment:
      - TZ=America/New_York
      - PLEX_CLAIM=${PLEX_CLAIM_TOKEN}
      - PLEX_UID=1000
      - PLEX_GID=1000
    volumes:
      - ./config/plex:/config
      - ./media/tv:/data/tv
      - ./media/movies:/data/movies
      - ./media/music:/data/music
      - ./media/photos:/data/photos
      - ./transcode:/transcode
    restart: unless-stopped

  xteve:
    image: dnsforge/xteve:latest
    container_name: xteve
    ports:
      - "34400:34400"
    environment:
      - TZ=America/New_York
    volumes:
      - ./config/xteve:/config
      - ./config/xteve/tmp:/tmp/xteve
    restart: unless-stopped

  # tvheadend:
  #   image: lscr.io/linuxserver/tvheadend:latest
  #   container_name: tvheadend
  #   network_mode: host
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=America/New_York
  #   volumes:
  #     - ./config/tvheadend:/config
  #     - ./recordings:/recordings
  #   devices:
  #     - /dev/dvb:/dev/dvb  # For TV tuner hardware (uncomment if you have one)
  #   restart: unless-stopped
